@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");
body{ 
    background-size: cover; 
    background-image: url("https://wallpapercave.com/wp/wp10530610.jpg"); 
    text-align: right; 
    margin-right: 30px;
    } 
    h3{ 
        color:rgb(225, 220, 220); 
        font-family: "Roboto mono", monospace; 
        font-weight: bold; 
    } 
    .reg{ 
        font-family:lucida handwriting; 
 
        font-size: 40px; 
        color: aliceblue; 
    } 
    .ip, .sel{ 
        width: 350px; 
        margin: 4px; 
        border-radius: 2px; 
        padding: 10px; 
        box-sizing: border-box; 
    } 
    .op{ 
        font-size: 27px; 
    } 
    .sub{ 
        background-color: #c4c3c2; 
        color: rgb(7, 0, 0); 
        padding: 10px; 
        font-size: 18px; 
        margin-right: 150px; 
    } 
    .sub:hover{ 
        background-color: #f6f4f1; 
    }